$color-gray: #666;

// Paleta 1 - Soft
$cornflower-blue: #5d9cec;
$sky-surge: #4fc1e9;
$turquoise: #48cfad;
$willow-green: #a0d468;
$golden-pollen: #ffce54;
$tomato: #fc6e51;
$bubblegum-pink: #ed5565;
$soft-periwinkle: #ac92ec;
$pink-carnation: #ec87c0;

// Paleta 2 - Electric
$electric-indigo: #6a00ff;
$magenta: #f0f;
$lipstick-red: #ff0040;
$deep-saffron: #ff9500;
$yellow: #ff0;
$slime-lime: #af0;
$lime: #00ff15;
$cyan: #0ff;
$dodger-blue: #0095ff;

// Paleta 3 - Earth
$charcoal-blue: #264653;
$pine-blue: #287271;
$verdigris: #2a9d8f;
$muted-olive: #8ab17d;
$tuscan-sun: #e9c46a;
$sunlit-clay: #efb366;
$sandy-brown: #f4a261;
$coral-glow: #ee8959;
$burnt-peach: #e76f51;

// Paleta 4 - Berry
$cherry-rose: #b7094c;
$dark-raspberry: #a01a58;
$royal-plum: #892b64;
$velvet-purple: #723c70;
$dusty-grape: #5c4d7d;
$dusk-blue: #455e89;
$rich-cerulean: #2e6f95;
$cerulean: #1780a1;
$pacific-cyan: #0091ad;

// Paleta 5 - Vivid
$burnt-tangerine: #e03524;
$vivid-tangerine: #f07c12;
$school-bus-yellow: #ffc200;
$lime-moss: #90bc1a;
$jade-green: #21b534;
$pacific-cyan-vivid: #0095ac;
$ocean-deep: #1f64ad;
$ocean-twilight: #4040a0;
$royal-orchid: #903498;
